<?xml version="1.0"?>
<config>
    <modules>
        <Webtonic_Salesflow>
            <version>0.0.1</version>
        </Webtonic_Salesflow>
    </modules>
    <global>
        <models>
            <webtonicsalesflow>
                <class>Salesflow_Model</class>
            </webtonicsalesflow>
        </models>
        <events>
            <controller_action_predispatch_checkout_onepage_saveBilling>
                <observers>
                    <webtonic_salesflow_model_observer>
                        <type>singleton</type>
                        <class>Webtonic_Salesflow_Model_Observer</class>
                        <method>createsubscription</method>
                    </webtonic_salesflow_model_observer>
                </observers>
            </controller_action_predispatch_checkout_onepage_saveBilling>
            <controller_action_postdispatch_po_ccc_onepage_applyCoupon>
                <observers>
                    <webtonic_salesflow_model_observer>
                        <type>singleton</type>
                        <class>Webtonic_Salesflow_Model_Observer</class>
                        <method>validatevouchers</method>
                    </webtonic_salesflow_model_observer>
                </observers>
            </controller_action_postdispatch_po_ccc_onepage_applyCoupon>


            <controller_action_predispatch_checkout_cart_couponPost>
                <observers>
                    <webtonic_salesflow_model_observer>
                        <type>singleton</type>
                        <class>Webtonic_Salesflow_Model_Observer</class>
                        <method>validatevouchers</method>
                    </webtonic_salesflow_model_observer>
                </observers>
            </controller_action_predispatch_checkout_cart_couponPost>

            <controller_action_postdispatch_checkout_onepage_savePayment>
                <observers>
                    <webtonic_salesflow_model_observer>
                        <type>singleton</type>
                        <class>Webtonic_Salesflow_Model_Observer</class>
                        <method>checkamounts</method>
                    </webtonic_salesflow_model_observer>
                </observers>
            </controller_action_postdispatch_checkout_onepage_savePayment>
            <sales_order_invoice_register>
                <observers>
                    <webtonic_salesflow_model_observer>
                        <type>singleton</type>
                        <class>Webtonic_Salesflow_Model_Observer</class>
                        <method>setinvoiced</method>
                    </webtonic_salesflow_model_observer>
                </observers>
            </sales_order_invoice_register>
            <controller_action_postdispatch_adminhtml_sales_order_shipment_save>
                <observers>
                    <webtonic_salesflow_model_observer>
                        <type>singleton</type>
                        <class>Webtonic_Salesflow_Model_Observer</class>
                        <method>setshipped</method>
                    </webtonic_salesflow_model_observer>
                </observers>
            </controller_action_postdispatch_adminhtml_sales_order_shipment_save>
        </events>
    </global>
</config>